<template>
  <div class="mb-5">
    <div class="bg-[#718096] p-10 rounded-lg text-3xl text-white text-center">
      Test Frontend
    </div>
    <ul class="flex justify-evenly w-2/3 mx-auto my-8">
      <li v-for="(menu, index) in menus" :key="index">
        <nuxt-link
          :to="menu.to"
          :class="
            $route.name === menu.prefix
              ? 'text-2xl font-medium hover:text-green-600 text-green-600'
              : 'text-2xl font-medium hover:text-green-600'
          "
          >{{ menu.name }}</nuxt-link
        >
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      menus: [
        {
          name: 'Home',
          to: '/',
          prefix: 'index',
        },
        {
          name: 'Pokemon',
          to: '/pokemon',
          prefix: 'pokemon',
        },
        {
          name: 'Function 1',
          to: '/function_1',
          prefix: 'function_1',
        },
        {
          name: 'Function 2',
          to: '/function_2',
          prefix: 'function_2',
        },
        {
          name: 'Function 3',
          to: '/function_3',
          prefix: 'function_3',
        },
      ],
    }
  },
}
</script>

<style>
</style>