<template>
  <div class="p-5">
    <Nav />

    <div class="flex justify-center">
      <div>
        <p>=> {{ String(checkArr(arr_1)) }}</p>
        <p>=> {{ checkArr(arr_2) }}</p>
        <p>=> {{ checkArr(arr_3) }}</p>
        <p>=> {{ checkArr(arr_4) }}</p>
        <p>=> {{ checkArr(arr_5) }}</p>
        <p>=> {{ checkArr(arr_6) }}</p>
        <p>=> {{ checkArr(arr_7) }}</p>
        <p>=> {{ checkArr(arr_8) }}</p>
        <p>=> {{ checkArr(arr_9) }}</p>
        <p>=> {{ checkArr(arr_10) }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import Nav from '~/components/Nav'

export default {
  components: {
    Nav,
  },

  data() {
    return {
      arr_1: [],
      arr_2: [1],
      arr_3: [1, 2, 3],
      arr_4: [1, 1],
      arr_5: [1, 2, 3, 4, 5, 6],
      arr_6: [1, 5, 3, 2, 5, 10],
      arr_7: [100, 5, 3, 2, 99],
      arr_8: [35, 5, 3, 2, 5, 100],
      arr_9: [1, 5, 101, 2, 5, 10],
      arr_10: [10, 10, 9],
    }
  },

  methods: {
    checkArr(arr) {
      let uniq = arr.filter((item, index) => arr.indexOf(item) === index)
      if (uniq.length < 1) {
        return null
      } else if (uniq.length === 1) {
        return arr[0]
      } else {
        return this.secondMax(uniq)
      }
    },

    secondMax(arr) {
      let max = Math.max.apply(null, arr),
        maxi = arr.indexOf(max)
      arr[maxi] = -Infinity
      let secondMax = Math.max.apply(null, arr)
      arr[maxi] = max
      return secondMax
    },
  },
}
</script>
