<template>
  <div class="p-5">
    <Nav />

    <div class="flex justify-center">
      <div>
        <p>=> {{ formatData(new Date('2020-08-10T14:54:52+07:00')) }}</p>
        <p>=> {{ formatDataTH(new Date('2020-08-10T14:54:52+07:00')) }}</p>
        <p>=> {{ getDaysOfMonth(8, 2020) }}</p>
        <p>=> {{ getQuarterOfYear(new Date('2020-08-10T14:54:52+07:00')) }}</p>
        <p>=>  {{ Math.floor(new Date('2020-08-10T14:54:52+07:00').getTime() / 1000) }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import Nav from '~/components/Nav'

export default {
  components: {
    Nav,
  },

  methods: {
    formatData(date) {
      const options = {
        year: 'numeric',
        month: 'numeric',
        day: 'numeric',
        hour: 'numeric',
        minute: 'numeric',
        hour12: false,
      }
      return Intl.DateTimeFormat('en-GB', options).format(date)
    },

    formatDataTH(date) {
      const options = {
        year: 'numeric',
        month: 'long',
        day: 'numeric',
      }
      return Intl.DateTimeFormat('th-TH', options).format(date)
    },

    getDaysOfMonth(month, year) {
      return new Date(year, month, 0).getDate()
    },

    getQuarterOfYear(date) {
      let month = date.getMonth() + 1
      return Math.ceil(month / 3)
    },
  },
}
</script>
