<template>
  <div class="p-5">
    <Nav />

    <pre>{{ newData }}</pre>
  </div>
</template>

<script>
import Nav from '~/components/Nav'

import json from '~/json/exam-data.json'

export default {
  components: {
    Nav,
  },

  data() {
    return {
      newData: null,
    }
  },

  mounted() {
    this.filterData()
  },

  methods: {
    filterData() {
      this.newData = json.filter((item) => item.is_editable_price === false).map(item => {
		  return {
			  name: item.name, 
			  totalSubProductWeight: item.products.reduce((prev, cur) => prev + cur.weight, 0)
		  }
	  })
      
    },
  },
}
</script>
