<template>
  <div class="p-5">
    <Nav />

    <div class="flex justify-center">
      <div class="bg-[#CBD5E0] py-5 px-8 rounded-lg w-2/4">
        <h2 class="font-medium text-xl mb-3 text-center">
          Test form and validation
        </h2>

        <ValidationObserver ref="form" v-slot="{ handleSubmit }">
          <form @submit.prevent="handleSubmit(onSubmit)">
            <ValidationProvider
              name="first name"
              rules="required"
              v-slot="{ errors }"
            >
              <div class="grid grid-cols-3 gap-3 mb-5">
                <div class="text-right p-2 font-medium">First Name</div>
                <div class="col-span-2">
                  <input
                    type="text"
                    v-model="form.firstName"
                    :class="
                      errors[0]
                        ? 'rounded-md p-2 w-full font-normal border border-red-500'
                        : 'rounded-md p-2 w-full font-normal'
                    "
                    placeholder="Please fill first name"
                  />
                  <small class="text-red-500" v-if="errors[0]">
                    Please fill out this field
                  </small>
                </div>
              </div>
            </ValidationProvider>
            <ValidationProvider
              name="last name"
              rules="required"
              v-slot="{ errors }"
            >
              <div class="grid grid-cols-3 gap-3 mb-5">
                <div class="text-right p-2 font-medium">Last Name</div>
                <div class="col-span-2">
                  <input
                    type="text"
                    v-model="form.lastName"
                    :class="
                      errors[0]
                        ? 'rounded-md p-2 w-full font-normal border border-red-500'
                        : 'rounded-md p-2 w-full font-normal'
                    "
                    placeholder="Please fill last name"
                  />
                  <small class="text-red-500" v-if="errors[0]">
                    Please fill out this field
                  </small>
                </div>
              </div>
            </ValidationProvider>
            <ValidationProvider
              name="email"
              rules="required"
              v-slot="{ errors }"
            >
              <div class="grid grid-cols-3 gap-3 mb-5">
                <div class="text-right p-2 font-medium">Email</div>
                <div class="col-span-2">
                  <input
                    type="email"
                    v-model="form.email"
                    :class="
                      errors[0]
                        ? 'rounded-md p-2 w-full font-normal border border-red-500'
                        : 'rounded-md p-2 w-full font-normal'
                    "
                    placeholder="Please fill email"
                  />
                  <small class="text-red-500" v-if="errors[0]">
                    Please fill out this field
                  </small>
                </div>
              </div>
            </ValidationProvider>
            <ValidationProvider
              name="password"
              rules="required"
              v-slot="{ errors }"
            >
              <div class="grid grid-cols-3 gap-3 mb-5">
                <div class="text-right p-2 font-medium">password</div>
                <div class="col-span-2">
                  <input
                    type="password"
                    v-model="form.password"
                    :class="
                      errors[0]
                        ? 'rounded-md p-2 w-full font-normal border border-red-500'
                        : 'rounded-md p-2 w-full font-normal'
                    "
                    placeholder="Please fill password"
                  />
                  <small class="text-red-500" v-if="errors[0]">
                    Please fill out this field
                  </small>
                </div>
              </div>
            </ValidationProvider>
            <ValidationProvider
              name="verify password"
              rules="required"
              v-slot="{ errors }"
            >
              <div class="grid grid-cols-3 gap-3 mb-5">
                <div class="text-right p-2 font-medium">Verify assword</div>
                <div class="col-span-2">
                  <input
                    type="password"
                    v-model="form.verify_password"
                    :class="
                      errors[0]
                        ? 'rounded-md p-2 w-full font-normal border border-red-500'
                        : 'rounded-md p-2 w-full font-normal'
                    "
                    placeholder="Please fill verify assword"
                  />
                  <small class="text-red-500" v-if="errors[0]">
                    Please fill out this field
                  </small>
                </div>
              </div>
            </ValidationProvider>
            <ValidationProvider
              name="gender"
              rules="required"
              v-slot="{ errors }"
            >
              <div class="grid grid-cols-3 gap-3 mb-5">
                <div class="text-right p-2 font-medium">Gender</div>
                <div class="col-span-2">
                  <select
                    :class="
                      errors[0]
                        ? 'rounded-md p-2 w-full font-normal border border-red-500'
                        : 'rounded-md p-2 w-full font-normal'
                    "
                    v-model="form.gender"
                  >
                    <option value="" disabled selected>
                      Please select a gender
                    </option>
                    <option
                      :value="item.value"
                      v-for="(item, index) in gender"
                      :key="index"
                    >
                      {{ item.label }}
                    </option>
                  </select>

                  <small class="text-red-500" v-if="errors[0]">
                    Please fill out this field
                  </small>
                </div>
              </div>
            </ValidationProvider>

            <div class="grid grid-cols-3 gap-3 mb-5">
              <div></div>
              <div class="col-span-2">
                <button
                  class="bg-green-500 text-white rounded-md p-3"
                  type="submit"
                >
                  Submit
                </button>
              </div>
            </div>
          </form>
        </ValidationObserver>

        <div v-if="result">
          <h2 class="font-medium">Result:</h2>

          <div>First Name: {{ this.form.firstName }}</div>
          <div>Last Name: {{ this.form.lastName }}</div>
          <div>Email: {{ this.form.email }}</div>
          <div>Gender Name: {{ this.form.gender }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Nav from '~/components/Nav'

export default {
  components: {
    Nav,
  },

  data() {
    return {
      gender: [
        { value: 'male', label: 'Male' },
        { value: 'female', label: 'Female' },
      ],
      form: {
        firstName: '',
        lastName: '',
        email: '',
        password: '',
        verify_password: '',
        gender: '',
      },
      result: null,
    }
  },

  methods: {
    onSubmit() {
      //   alert('something!!!')
	  this.result = this.form
    },
  },
}
</script>
