<template>
  <div class="p-5">
    <Nav />

    <div class="bg-[#CBD5E0] py-5 px-8 rounded-md w-full">
      <h2 class="font-medium text-2xl mb-5 text-center">Test fetch API</h2>

      <div class="grid grid-cols-6 gap-10">
        <div
          v-for="(item, index) in data"
          :key="index"
          class="text-center flex justify-center flex-col"
        >
          <div v-if="isLoading">
            <div class="skeleton-box rounded-md h-28 w-full mb-3"></div>
            <div class="skeleton-box rounded-md h-8 w-full"></div>
          </div>

          <div v-else>
            <img
              :src="item.sprites.front_default"
              alt=""
              class="object-contain mb-3 w-full"
            />
            <div class="bg-black text-white rounded-md">
              {{ item.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Nav from '~/components/Nav'

export default {
  components: {
    Nav,
  },

  data() {
    return {
      isLoading: true,
      data: [],
    }
  },

  mounted() {
    this.fetchData()
  },

  methods: {
    async fetchData() {
      try {
        for (let index = 1; index <= 104; index++) {
          await this.$axios
            .$get(`https://pokeapi.co/api/v2/pokemon/${index}`)
            .then((data) => {
              this.data.push(data)
            })
        }
        this.isLoading = false
      } catch (e) {
        console.log(e)
      }
    },
  },
}
</script>
